<%-include header.ejs%>
<div class="row clearfix">
    <div class="col-md-9 column">
        <table class="table table-hover table-striped tableSort">
            <caption>All Books</caption>
            <p>click on the header to sort the table</p>
            <thead>
            <tr>
                <th type="text">Book Number</th>
                <th type="text">Book Name</th>
                <th type="text">Publisher</th>
                <th type="number">Year</th>
                <th type="text">Author</th>
                <th type="number">Price</th>
                <th type="text">Storage</th>
                <th type="number">Total Num</th>
                <th type="Action">Action</th>
            </tr>
            </thead>
            <tbody>
            <% if (locals.hasOwnProperty("results")) for (let i = 0; i < locals.results.length; i++) { %>
            <tr>
                <td> <%=locals.results[i].booknum%> </td>
                <td> <%=locals.results[i].bookname%> </td>
                <td> <%=locals.results[i].publisher%> </td>
                <td> <%=locals.results[i].year%> </td>
                <td> <%=locals.results[i].author%> </td>
                <td> <%=locals.results[i].price%> </td>
                <td> <%=locals.results[i].storage%> </td>
                <td> <%=locals.results[i].total%> </td>
                <td> <button type="button" class="btn btn-danger btn-sm" onclick="<%="$.StandardPost('/bookmanage/remove', {number: '" + locals.results[i].booknum +"'})"%>" >
                        Delete</button> </td>
            </tr>
            <% } %>
            </tbody>
        </table>

    </div>
    <div class="col-md-3 column">
        <script type="text/javascript">
            function getValue()
            {
                let x=document.getElementById("file").value;
                if(x === "")
                {
                    alert("请选择文件");
                    return false;
                }
                return true;
            }
        </script>
        <% if (locals.fail) {%>
        <div class="alert alert-danger">
            <a href="/bookmanage" class="close" data-dismiss="alert">
                &times;
            </a>
            <strong> <% if (locals.errmsg) {%>
                <%= locals.errmsg %>
            <% } else { %>
                Some error occurs...
            <% } %>
            </strong>
        </div>
        <% } %>
        <form role="form" action="/bookmanage" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="booknumber">Book Number</label>
                <input type="text" class="form-control" id="booknumber" name="booknumber" />
            </div>
            <div class="form-group">
                <label for="bookname">Book Name</label>
                <input type="text" class="form-control" id="bookname" name="bookname"/>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" id="publisher" name="publisher"/>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="number" class="form-control" id="year" name="year"/>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="author"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price"/>
            </div>
            <div class="form-group">
                <label for="total">Total</label>
                <input type="number" class="form-control" id="total" name="total"/>
            </div>
            <button type="submit" class="btn btn-default btn-success">Add book</button>
        </form>
        or
        <form role="form" action="/bookmanage/load" method="post" enctype="multipart/form-data" onsubmit="return getValue()">
            <input type="file" id="file" name="file">
            <button type="submit" class="btn btn-default btn-success">Load from file</button>
        </form>
    </div>
</div>
<%-include tail.ejs%>